{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'inicio.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <title>Inicio</title>
  </head>
  <body>
    <header>
      <nav>
        <div><a href="#">FILMS</a></div>
        <ul>
          <li><a href="#categoria_1">Ação</a></li>
          <li><a href="#categoria_2">Animações</a></li>
          <li><a href="#categoria_3">Comédia</a></li>
        </ul>

        <div id="tela_cadastrar_publicacao">
          <a href=""><i class="fa-solid fa-circle-info"></i></a>
        </div>
      </nav>
    </header>

    {% for publicacao in publicacoes %}
    <section id="categoria_1">
      <h1>{{publicacao.titulo}}</h1>
      <img id="image" src="{{publicacao.imagem.url}}" alt="">
      <p>{{publicacao.descricao}}</p>
      </section>
    {% endfor %}

    <form action="coments" id="comentarios">
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </form>

    <div class="container body-content">
      <footer class="fixarRodape">
        <hr />
        <p>&copy; Gabriel</p>
      </footer>
    </div>
  </body>
</html>
