{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    {% for message in messages %}
        {% if message %}
            <!-- <h1>{{message}}</h1> -->
            <script>
                alert('{{message}}')
            </script>
        {% endif %}
    {% endfor %}
        <form method="POST" action=""> {% csrf_token %}
            <h1>Login</h1>
            <input name="logarUsuario" id="telefoneEmail" type="text" placeholder="Nº Telefone ou E-mail">
            <input name="logarSenha" id="senha" type="password" placeholder="Senha">
            <input id="entrar" type="submit" name="acao" value="Entrar">
            
        
    </form>
 </div>
</body>
</html>