* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root{
    --corFundo: #D9D9D9;
    --corCampo: #767676;
    --corBorda: #3C3C3C;
    --curvaBorda: 2rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--corFundo);
    font-family: Arial, sans-serif;
}


form{
    max-width: 350px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--corFundo);
    border: 2px solid var(--corBorda);
    border-radius: var(--curvaBorda);
}

form h1{
    text-align: center;
    margin-top: 0%;
    

    
}

form input[type=text],
form input[type=password]{
    width: 100%;
    height: 30px;
    margin-top: 30px;
    background-color: var(--corFundo);
    border: 2px solid var(--corBorda);
    border-radius: var(--curvaBorda);
    padding-left: 10px;

}

form input[type=submit]{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    cursor: pointer;
    background: #3C3C3C;
    color: white;
    border-radius: 1rem;
}

form input[type=submit]:hover{
    background-color: #161616 ;
    transition: 0.5s;

}