* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: nonete;
}

body {
  background-color: #FFFAFA;
}

#titulo {
  background: #DCDCDC;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 83px;
  padding: 0 10px;
  font-family: 'Comic Sans MS';
}

#inicio {
  text-decoration: none;
}

#categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#escolher {
  background-color: #f0f0f0;
  outline: none
}

#postar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;

}

#logar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

#usuario {
  font-size: 200%;
}

#cadastro {
  font-family: 'Comic Sans MS';
}

#links {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 25%;
  padding: 20px 110px;
}

#postar2 {
  align-items: flex-end;
}

#inicio {
  color: black;
  font-weight: bold;
}

section {
  padding: 15px 3%;
}

#publicacao {
  background-color: white;
  padding: 15px 5px;
}

#titulo2 {
  text-align: center;
}

#paragrafo {
  padding: 15px 25px;
}

#autor {
  padding: 5px 25px;
}

#comentarios {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

#caixa {
  display: flex;
  padding-bottom: 45px;
  width: 80%;
}

#caixa_comentario {
  width: 80%;
}

#post_comentario {
  width: 10%;
}

#postar_comentario {
  padding: 5px;
  border: 1px solid #0f0f0f;
  width: 50%;
}

#titulo_post {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#descricao_post {
  display: flex;
}

input, textarea, button {
  border-radius: 4px;
}

main>nav {
  background: linear-gradient(to right, #dcdfde, #b4b7b8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

nav>h1 {
  text-transform: uppercase;
  font-family: 'Comic Sans MS';
  font-weight: 500px;
  font-size: 2rem;
  background-color: rgb(129, 129, 129);
  padding: 1.5%;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  animation: vib ease 2s infinite alternate-reverse;
}


@keyframes vib {
  0% {
    transform: translateY(-3px);
  }

  50% {

    transform: translateY(3px);
  }

  100% {

    transform: translateY(0px);
  }
}

nav>ul {
  position: absolute;
  right: 7%;
  display: flex;
  justify-content: space-evenly;
}

ul>li {
  font-size: 1.5rem;
  font-family: 'Comic Sans MS';
  margin: 0 6%;
}

section {
  padding: 3% 4%;
  width: 100%;
}

section>a {
  padding: 1% 2%;
  border-radius: 4px;
  color: white;
  background-color: rgb(244, 246, 248);
  text-decoration: none;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 60px;
  text-align: center;
}

.tarefa {
  width: 60%;
}

td>a {
  padding: 8px;
  overflow: hidden;
  border-radius: 12px;
}